In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.DataFrame([[1,2,3,4],[5,6,7,8]])

In [ ]:
df=pd.DataFrame([pd.Series(np.arange(10,15)), 
                pd.Series(np.arange(15,20))])

In [ ]:
df

In [ ]:
df=pd.DataFrame({"Name":["Sanwal","Amar","Shoukat"],
                "Roll No":[191720,191719,191718]})

In [ ]:
name=["Sanwal","Amar","Ahmad","Anaya","Shoukat"]
age=[22,21,20,8,24]
edu=["BSCS","BSCS","BSIT","BSM","BSU"]
df=pd.DataFrame({"Name":name,
                "Age":age,
               "Education":edu},index=["B","B","B","G","B"])

In [ ]:
df

In [ ]:
df["Gender"]=["B","B","B","G","B"]

In [ ]:
df.index=np.arange(5)

In [ ]:
df

In [ ]:
df[df.Age>10]

In [ ]:
df["Y/N"]=df["Age"]>=20

In [ ]:
df

In [ ]:
name=["Sanwal","Amar","Ali","Ahmad","Abid","Hamza"]
age=[21,21,20,24,23,25]
Q1=[60,35,67,89,76,46]
Q2=[76,67,98,46,35,87]
Q3=[54,76,97,34,67,45]
Q4=[87,45,87,45,87,56]
df2=pd.DataFrame({"Name":name,"Age":age,"AI_For_EveryOne":Q1,"Git":Q2,"Numpy":Q3,"Pandas":Q4})

In [ ]:
df2

In [ ]:
df2["Total_Marks"]=df2[["AI_For_EveryOne","Git","Numpy","Pandas"]].sum(axis=1)

In [ ]:
df2

In [ ]:
pop=pd.Series([134.45,23.65,34.76,76.67,67.56])

In [ ]:
pop.name="Population in Million"

In [ ]:
pop.index=["Pakistan","India","Japan","Oman","UAE"]

In [ ]:
pop

In [ ]:
pop["China"]=456.45

In [ ]:
pop

In [ ]:
pop.sort_values

In [ ]:
pop

In [ ]:
pop.iloc[1]

In [ ]:
population=pd.Series([20,35,56,80,100,120,140,96,80,99])

In [ ]:
population.index=["Pakistan","Inida","China","UAE","Caneda","Oman","Japan","Sri_Lanka","UAF","XYZ"]

In [ ]:
population

In [ ]:
population[(population>20) & (population<100)]

In [ ]:
population.

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.loc[0]

In [ ]:
df.iloc[0]

In [ ]:
df

In [ ]:
df.loc[0:2,"Name":"Education"]

In [ ]:
df.loc[:,:"Education"]

In [ ]:
df2=df

In [ ]:
df2.index=["a","b","c","d","e"]

In [ ]:
df2

In [ ]:
df

In [ ]:
df.loc["a":,]

In [ ]:
df.index=np.arange(5)

In [ ]:
df

In [ ]:
df.iloc[0:2,]

In [ ]:
df3=pd.read_csv("adult.data.csv")

In [ ]:
df3.head()

In [ ]:
x=df3.loc[df3["sex"]=="Male"]

In [ ]:
len(x)

In [ ]:
edu=df3.loc[df3["education"]=="Bachelors"]

In [ ]:
edu

In [ ]:
marr=df3.loc[df3["relationship"]=="Wife"]

In [ ]:
ra=df3.loc[df3["race"]=="White"]

### ra

In [ ]:
df3

In [ ]:
df3.head()

In [ ]:
df3.drop("age", axis=1)

In [ ]:
df3

In [ ]:
df3.drop(0)

In [ ]:
df3.head()

In [ ]:
df3.rename(columns={"age":"Age","race":"Colour" }, inplace=True)

In [ ]:
df3

In [ ]:
df.head()

In [ ]:
x=df[["Name","Age"]]

In [32]:
df

      Name  Age Education Gender    Y/N
0   Sanwal   22      BSCS      B   True
1     Amar   21      BSCS      B   True
2    Ahmad   20      BSIT      B   True
3    Anaya    8       BSM      G  False
4  Shoukat   24       BSU      B   True

In [35]:
s=pd.Series([1,2,3,np.nan,5,np.nan])

In [42]:
s.notnull().count()

6

In [44]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    NaN
dtype: float64

In [45]:
s.dropna()

0    1.0
1    2.0
2    3.0
4    5.0
dtype: float64

In [46]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    NaN
dtype: float64

In [47]:
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    NaN
dtype: float64

In [53]:
s.fillna(0)

0    1.0
1    2.0
2    3.0
3    0.0
4    5.0
5    0.0
dtype: float64

In [56]:
df2

     Name  Age  AI_For_EveryOne  Git  Numpy  Pandas  Total_Marks
0  Sanwal   21               60   76     54      87          277
1    Amar   21               35   67     76      45          223
2     Ali   20               67   98     97      87          349
3   Ahmad   24               89   46     34      45          214
4    Abid   23               76   35     67      87          265
5   Hamza   25               46   87     45      56          234

In [58]:
df2.replace("Sanwal","i")

    Name  Age  AI_For_EveryOne  Git  Numpy  Pandas  Total_Marks
0      i   21               60   76     54      87          277
1   Amar   21               35   67     76      45          223
2    Ali   20               67   98     97      87          349
3  Ahmad   24               89   46     34      45          214
4   Abid   23               76   35     67      87          265
5  Hamza   25               46   87     45      56          234

In [59]:
df2

     Name  Age  AI_For_EveryOne  Git  Numpy  Pandas  Total_Marks
0  Sanwal   21               60   76     54      87          277
1    Amar   21               35   67     76      45          223
2     Ali   20               67   98     97      87          349
3   Ahmad   24               89   46     34      45          214
4    Abid   23               76   35     67      87          265
5   Hamza   25               46   87     45      56          234